<!DOCTYPE HTML>
<html>
<head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body>
    <th:block th:insert="~{index :: menu-bar}"></th:block>
    <table class="table table-bordered" style="width: 70%;margin-left: auto;margin-right: auto;">
        <caption style="caption-side: top; text-align: center;"><h1>Danh sách món ăn</h1></caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên Món ăn</th>
            <th scope="col">Đơn giá</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">Ottoadfasdfđsàasfasfsdfasfasfasdfasdfasdfasfadasfasdfsdf</td>
          </tr>
          
        </tbody>
      </table>
</body>
</html>