<!DOCTYPE HTML>
<html>
<head> 
  <title>DANH SÁCH MÓN ĂN</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body class="nav-md">
  <th:block th:insert="~{index :: menu-bar}"></th:block>

  <div class="container">
    <!-- Trigger the modal with a button -->  
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="mTitle">Thông tin món ăn</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <label for="tenCa" class="col-3 col-form-label">Tên Món Ăn</label>
              <div class="col-9">
                <input class="form-control" type="hidden" value="" id="maMonAn">
                <input class="form-control" type="text" value="" id="tenMonAn">
              </div>
            </div>
            <div class="form-group row">
              <label for="donGia" class="col-3 col-form-label">Đơn giá</label>
              <div class="col-9">
                <input class="form-control" type="number" value="" id="donGia">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- PHÂN QUYỀN -->
            <th:block th:switch="${role}">
              <th:block th:case="''" >
                
              </th:block>
              <th:block th:case="'admin'">
                
              </th:block>
              <th:block th:case="'bql'">
                <button type="button" id="capNhat" class="btn btn-default"  data-dismiss="modal">Cập nhât</button>
              </th:block>
              <th:block th:case="'nhanvien'">
                
              </th:block>
            </th:block> 
          </div>
        </div>
        
      </div>
    </div>
  </div>

  
  <div class="container body">
    <div class="main_container">
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">

            <!-- TITLE -->
            <div class="title_left">
              <h3>DANH SÁCH MÓN ĂN</h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12 col-sm-12 ">
              <div class="x_panel">
                <div class="x_title">

                </div>
                <div class="x_content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card-box table-responsive">
                        
                        <!-- TABLE -->
                        <table id="table_id" class="table table-striped table-bordered" style="width:100%">                  
                          <thead>
                            <tr>
                              <th scope="col">STT</th>
                              <th scope="col">Tên Món ăn</th>
                              <th scope="col">Đơn giá</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody id="dsMonAn">       
                          </tbody>                          
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Datatables -->
  <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="../vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="../vendors/jszip/dist/jszip.min.js"></script>
  <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="../build/js/custom.min.js"></script>

  <script>
    var table = $('#table_id').DataTable({
                paging: true,
                select: true,
                order: [ [ 1, 'asc' ] ],
                lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                ajax: {
                    url: '/api/ds-mon-an',
                    dataSrc: ''
                    
                },
                columns: [     
                    {
                      "data": "tenMonAn",
                      "targets": 0 
                    },               
                    { 
                      "data": "tenMonAn",
                      "targets": 1 
                    },
                    { 
                      "data": "donGia",
                      "targets": 2
                    },                    
                    { 
                      "data": "maMonAn",
                      "targets": 4, 
                      "render": function( data, type){
                        

                        return "<button " 
                        +  "type='button' "
                        +  "stype='margin-left: 3%;' "
                        +  "class='fa fa-info btn btn-primary' "
                        +  "data-toggle='modal' "
                        +  "data-target='#myModal' "
                        
                        + ">" 
                        data
                        + "</button>"
                      }
                    }              
                ],
                
            });

            $('#table_id tbody').on( 'click', 'button', function () {
                var data = table.row( $(this).parents('tr') ).data();
                
                $.get("http://localhost:8080/api/thong-tin-mon-an?maid=" + data.maMonAn, function(data){
                  // alert(JSON.stringify(data))
                  $("#maMonAn").val(data["maMonAn"])
                  $("#tenMonAn").val(data["tenMonAn"])
                  $("#donGia").val(data["donGia"])
                })
            } );
    
            table.on( 'order.dt search.dt', function () {
                table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
    
    switch($("#roleUser").html()) {
      case '':
        $("input").prop('readonly', true);
        $("input").removeClass("form-control")
        $("input").addClass("form-control-plaintext")
        break;
      case 'admin':
        $("input").removeClass("form-control")
        $("input").addClass("form-control-plaintext")
        $("input").prop('readonly', true);
        break;
      case 'bql':
        $("input").removeClass("form-control-plaintext")
        $("input").addClass("form-control")
        $("input").prop('readonly', false);
        $("#mTitle").html("Cập nhật thông tin món ăn")
        $("#dsLoaiSanh").append($('<tr>', { 
              "id":  "row-add",
              "style": " border: 1px solid Transparent!important;"
        }))
        break;
      case 'nhanvien':
        $("input").removeClass("form-control")
        $("input").addClass("form-control-plaintext")
        $("input").prop('readonly', true);
        break;
      default:
        // code block
    }
    $("#capNhat").click(function(){
      //alert("Cap nhat")
      data = {}
      data["maMonAn"] = $("#maMonAn").val()
      data["tenMonAn"] = $("#tenMonAn").val()
      data["donGia"] = $("#donGia").val()
      
      $.ajax({
          type: "POST",
          contentType: "application/json",
          url: "http://localhost:8080/api/cap-nhat-mon-an",
          data: JSON.stringify(data),
          dataType: "json",
          success: function(){
            alert("Cap nhat thanh cong")
            location.reload();
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            //alert(JSON.stringify(XMLHttpRequest["responseJSON"]["errorMessageList"]));
            location.reload();
            // $.each(Object.keys(XMLHttpRequest["responseJSON"]["errorMessageList"][0]), function(index, d){
            //   //alert(d);
            //   $("#msg_" + d).html(XMLHttpRequest["responseJSON"]["errorMessageList"][0][d])
            //   $("#msg_" + d).addClass("alert alert-danger")
            // })
          }
        })
        //location.reload();
    })
  </script>
</body>
</html>