<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head > 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<body>
    <th:block th:fragment="menu-bar">
      <p id="roleUser" th:text="${roles}" style="display: none;visibility: hidden;"></p>
      <p id="nav-active" th:text="${navActive}" style="display: none;visibility: hidden;"></p>
      <header class="d-flex flex-wrap justify-content-center py-3 ">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4">WMS</span>
        </a>
        <th:block th:insert="~{menu-bar :: menu-bar-admin}"></th:block>       
      </header>
      
    </th:block>

    <div class="container">
      <!-- Trigger the modal with a button -->  
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Thông tin tài khoản</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <label for="tenCa" class="col-4 col-form-label">Tên tài khoản</label>
                <div class="col-8">
                  <input class="form-control" type="hidden" value="" id="maTaiKhoan">
                  <input class="form-control" type="text" value="" id="tenTaiKhoan">
                </div>
              </div>
              <h3>Phân quyền</h3>
              <hr>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="QuanTriVien" value="QuanTriVien">
                <label class="form-check-label" for="QuanTriVien">
                  Quản trị viên
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="BQL" value="BQL">
                <label class="form-check-label" for="BQL">
                  BQL
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="NhanVien" value="NhanVien">
                <label class="form-check-label" for="NhanVien">
                  Nhân viên
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="role" id="Khac" value="Khac">
                <label class="form-check-label" for="Khac">
                  Khác
                </label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="capNhat" class="btn btn-default"  data-dismiss="modal">Cập nhât</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <table class="table table-bordered" style="width: 70%;margin-left: auto;margin-right: auto;">
        <caption style="caption-side: top; text-align: center;"><h1>Danh sách tài khoản</h1></caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên tài khoản</th>
            <th scope="col">Quyền</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="dsTaiKhoan">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">Ottoadfasdfđsàasfasfsdfasfasfasdfasdfasdfasfadasfasdfsdf</td>
          </tr>
          
        </tbody>
      </table>
      
      <script>
        $.get( "http://localhost:8080/api/ds-tai-khoan", function( data ) {
            //alert(JSON.stringify(data));
            $("#dsTaiKhoan").empty()
            $.each(data, function(index, d){
                $("#dsTaiKhoan").append($('<tr>', { 
                    "id":  "row-" + d.maTaiKhoan
                }))
                $("#row-" + d.maTaiKhoan).append($('<td>', { 
                    text: index
                }))
                $("#row-" + d.maTaiKhoan).append($('<td>', { 
                    text: d.tenTaiKhoan
                }))
                $("#row-" + d.maTaiKhoan).append($('<td>', { 
                    text: d.quyen
                }))
                $("#row-" + d.maTaiKhoan).append($('<td>', { 
                    id: "action-" + d.maTaiKhoan
                })) 
                $("#action-" + d.maTaiKhoan).append($('<button>', {
                  "type": "button",
                  "style": "margin-left: 3%;",
                  "class": "fa fa-info btn btn-primary",
                  "data-toggle": "modal",
                  "data-target": "#myModal",
                  click: function(){
                    //alert(d.maTaiKhoan)
                    $.get("http://localhost:8080/api/thong-tin-tai-khoan?tkid=" + d.maTaiKhoan, function(data){
                      $("#maTaiKhoan").val(data["maTaiKhoan"])
                      $("#tenTaiKhoan").val(data["tenTaiKhoan"])
                      //alert(data["quyen"])
                      var $radios = $('input:radio[name=role]');
                      $radios.filter('[value='+ data["quyen"] +']').prop('checked', true);
                      
                    })
                  }
                }))       
            })
        });
        
      $("#capNhat").click(function(){
        // alert($('input[name=role]:checked').val())
        alert($("#maTaiKhoan").val())
        data = {}
        
        data["maTaiKhoan"] = $("#maTaiKhoan").val();
        data["tenTaiKhoan"] = $("#tenTaiKhoan").val();
        data["quyen"] = $('input[name=role]:checked').val()
        alert(JSON.stringify(data))
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "http://localhost:8080/api/cap-nhat-tai-khoan",
            data: JSON.stringify(data),
            dataType: "json",
            success: function(){
              alert("Cap nhat thanh cong")
              setTimeout(function(){
                  alert('This is an alert');
                  location.reload()
              }, 5000);

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              //alert(JSON.stringify(XMLHttpRequest["responseJSON"]["errorMessageList"]));
              setTimeout(function(){
                  alert('This is an alert');
                  location.reload()
              }, 5000);

              // $.each(Object.keys(XMLHttpRequest["responseJSON"]["errorMessageList"][0]), function(index, d){
              //   //alert(d);
              //   $("#msg_" + d).html(XMLHttpRequest["responseJSON"]["errorMessageList"][0][d])
              //   $("#msg_" + d).addClass("alert alert-danger")
              // })
            }
          })
          location.reload();
      })
      </script>

</body>
</html>