<!DOCTYPE HTML>
<html>
<head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body>
    <th:block th:insert="~{index :: menu-bar}"></th:block>
    <div style="width: 70%;margin-left: auto;margin-right: auto;">
        <h1 style="text-align: center;">Hóa Đơn cho Tiệc Cưới <span id="maTiec" th:text="${maTiecCuoi}"></span></h1>
        <div class="row">
            <div class="col">
                <p>Tên chú rể : <span id="tenChuRe"></span></p>                
            </div>
            <div class="col">
                <p >Tên cô dâu : <span id="tenCoDau"></span></p>                
            </div>
            <div class="col">
                <p>Ngày thanh toán : <span id="ngayThanhToan"></span></p>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Số lượng bàn : <span id="soLuongBan"></span></p>                
            </div>
            <div class="col">
                <p>Đơn giá bàn: <span id="donGiaBan"></span></p>                
            </div>
            <div class="col">
                <p>Tổng tiền bàn : <span id="tongTienBan"></span></p>                
            </div>
        </div>
    </div>

    <div style="width: 100%;margin-left: auto;margin-right: auto;">
          <div class="row">
            <div class="col">
                <table class="table table-bordered" style="width: 80%;margin-left: auto;margin-right: auto;">
                    <caption style="caption-side: top; text-align: center;"><h1>Danh sách dịch vụ</h1></caption>
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Dịch vụ</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody id="dsDichVu">
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">Ottoadfasdfđsàasfasfsdfasfasfasdfasdfasdfasfadasfasdfsdf</td>
                      </tr>
                      
                    </tbody>
                    <caption><p>Tổng tiền dịch vụ : <span  id="tongTienDichVu"></span></p></caption>
                  </table>              
            </div>
            <div class="col">
                <table class="table table-bordered" style="width: 80%;margin-left: auto;margin-right: auto;">
                    <caption style="caption-side: top; text-align: center;"><h1>Danh sách món ăn</h1></caption>
                    
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Món ăn</th>
                        <th scope="col">Đơn giá</th>
                      </tr>
                    </thead>
                    <tbody id="dsMonAn">
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                      </tr>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">Ottoadfasdfđsàasfasfsdfasfasfasdfasdfasdfasfadasfasdfsdf</td>
                      </tr>
                      
                    </tbody>
                    <caption><p>Tổng tiền món ăn (trên 1 bàn): <span  id="tongTienMonAn"></span></span> </p></caption>
                  </table>              
            </div>
        </div>        
    </div>
    <div style="width: 50%;margin-left: auto;margin-right: auto;">
        <div class="row">
            <div class="col">
                <p>Tổng tiền hóa đơn : <span id="tongTienHoaDon"></span> </p>                
            </div>
            <div class="col">
                <p>Tiền đặt cọc : <span id="tienDatCoc"></span> </p>                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Còn lại : <span  id="conLai"></span> </p>
            </div>
        </div>
    </div>

    <script>
      //alert($("#maTiec").text())

      $.get("http://localhost:8080/api/thong-tin-hoa-don?maTiecCuoi=" + $("#maTiec").text(), function(data){
        //alert("GEt Success")
        //alert(JSON.stringify(data))
        $("#tenChuRe").text(data["tenChuRe"])
        $("#tenCoDau").text(data["tenCoDau"])
        $("#ngayThanhToan").text(data["ngayThanhToan"])
        $("#soLuongBan").text(data["soLuongBan"])
        $("#donGiaBan").text(data["donGiaBan"])
        $("#tongTienBan").text(data["tongTienBan"])
        $("#tongTienDichVu").text(data["tongTienDichVu"])
        $("#tongTienMonAn").text(data["tongTienMonAn"])
        $("#tongTienHoaDon").text(data["tongTienHoaDon"])
        $("#tienDatCoc").text(data["tienDatCoc"])
        $("#conLai").text(data["conLai"])

        $("#dsMonAn").empty()
        $("#dsDichVu").empty()

        alert(JSON.stringify(data["monAn"]))
        $.each(data["monAn"], function(index, d){
          $("#dsMonAn").append($("<tr>", {
            "id": "row-" + d.maMonAn
          }))
          $("#row-" + d.maMonAn).append($("<td>", {
            text: index
          }))
          $("#row-" + d.maMonAn).append($("<td>", {
            text: d.tenMonAn
          }))
          $("#row-" + d.maMonAn).append($("<td>", {
            text: d.donGia
          }))
        })

        $.each(data["dichVu"], function(index, d){
          $("#dsDichVu").append($("<tr>", {
            "id": "row-" + d.maDichVu
          }))
          $("#row-" + d.maDichVu).append($("<td>", {
            text: index
          }))
          $("#row-" + d.maDichVu).append($("<td>", {
            text: d.tenDichVu
          }))
          $("#row-" + d.maDichVu).append($("<td>", {
            text: d.soLuong
          }))
          $("#row-" + d.maDichVu).append($("<td>", {
            text: d.donGia
          }))
          $("#row-" + d.maDichVu).append($("<td>", {
            text: d.thanhTien 
          }))
        })
      })
    </script>
</body>
</html>