<!DOCTYPE HTML>
<html>
<head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body>
    <th:block th:insert="~{index :: menu-bar}"></th:block>
    <div style="width: 30%;margin-left: auto;margin-right: auto;">
        <h1 style="text-align: center;">Báo cáo doanh số</h1>
        <form action="/chi-tiet-bao-cao-thang">
          <div class="row g-2">
            <div class="col">
                <p>Tháng </p>                
            </div>
            <div class="col-10">
              <input type="text" class="form-control" id="thang" placeholder="Tháng"> 
            </div>
          </div>
          <div class="row g-2">
            <div class="col">
                <p>Năm </p>                
            </div>
            <div class="col-10">
              <input type="password" class="form-control" id="nam" placeholder="Năm"> 
            </div>
          </div>
          <div class="row">
              <div class="col text-center">
                <button type="submit" class="form-control btn btn-primary mx-auto" id="xem" style="width: 15vmin;">Xem</button>
              </div>
          </div>
        </form>
        <script>
          $("form").submit(function(e){
            alert("Lap bao cao thang thang=" + $("#thang").val() + "&nam=" + $("#nam").val())
            e.preventDefault()
            window.location = "http://localhost:8080/chi-tiet-bao-cao-thang?thang=" + $("#thang").val() + "&nam=" + $("#nam").val()
          })
        </script>
    </div>


</body>
</html>