<!DOCTYPE HTML>
<html>
<head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body>
    <th:block th:insert="~{index :: menu-bar}"></th:block>
    <div style="width: 30%;margin-left: auto;margin-right: auto;">
        <h1 style="text-align: center;">Báo cáo doanh số</h1>
        <div class="row g-2">
          <div class="col">
              <p>Tháng </p>                
          </div>
          <div class="col-10">
            <input type="number" class="form-control" id="thang" placeholder="Tháng"> 
          </div>
        </div>
        <div class="row g-2">
          <div class="col">
              <p>Năm </p>                
          </div>
          <div class="col-10">
            <input type="number" class="form-control" id="nam" placeholder="Năm"> 
          </div>
        </div>
        <div class="row">
            <div class="col text-center">
              <button type="submit" class="form-control btn btn-primary mx-auto" id="xem" style="width: 15vmin;">Xem</button>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col">
            <table class="table table-bordered" style="width: 60%;margin-left: auto;margin-right: auto;">
                <caption style="caption-side: top; text-align: center;"><h1>Danh thu theo ngày</h1></caption>
                <caption><h5>Tổng doanh thu : </h5><span id="tongDoanhThu"></span></caption>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Ngày</th>
                    <th scope="col">Số lượng tiệc cưới</th>
                    <th scope="col">Doanh thu</th>
                    <th scope="col">Tỉ lệ</th>
                  </tr>
                </thead>
                <tbody id="dsDoanhThuNgay">
                </tbody>
                
              </table>              
        </div>
    </div>        
        
    <script>
      $("#xem").click(function(){
        alert("http://localhost:8080/api/ds-doanh-thu-ngay?thang=" + $("#thang").val() + "&nam=" + $("#nam").val())
        $.get("http://localhost:8080/api/ds-doanh-thu-ngay?thang=" + $("#thang").val() + "&nam=" + $("#nam").val(), function(data){
          $("#dsDoanhThuNgay").empty()
          $.each(data, function(index, d){
            $("#dsDoanhThuNgay").append($("<tr>", {
              "id": "row-" + index
            }))
            $("#row-" + index).append($("<td>", {
              text: index
            }))
            $("#row-" + index).append($("<td>", {
              text: d.ngay
            }))
            $("#row-" + index).append($("<td>", {
              text: d.soLuongTiecCuoi
            }))
            $("#row-" + index).append($("<td>", {
              text: d.doanhThuNgay
            }))
            $("#row-" + index).append($("<td>", {
              text: (d.tiLe * 100 ) + "%"
            }))
          })

          $.get("http://localhost:8080/api/tong-doanh-thu?thang=" + $("#thang").val() + "&nam=" + $("#nam").val(), function(data){
            $("#tongDoanhThu").text(data)
          })
        })
      })
    </script>
    </div>


</body>
</html>