<!DOCTYPE HTML>
<html>
<head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body>
   
    <form th:action = "@{/login}" method="post" style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 5%;">
      <h1>Login </h1>  
      <p th:if="${loginError}" class="error">Wrong user or password</p>
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" id="username" aria-describedby="emailValidate" placeholder="Enter email">
          <small id="emailValidate" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" aria-describedby="passValidate" placeholder="Password">
          <small id="emailValidate" class="form-text text-muted">We'll protect your password</small>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="remember" name="remember">
          <label class="form-check-label" for="remember">Remember me!</label>
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>