<!DOCTYPE HTML>
<html>
<head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
    
</head>
<body>
    <th:block th:insert="~{index :: menu-bar}"></th:block>
    
    <form class="mx-auto" style="width: 700px;" id="formTiepNhanSanh">
      <h1>Tiếp nhận sảnh</h1>
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="tenSanh" class="form-label">Tên sảnh</label>
          <input type="text" class="form-control" id="tenSanh" placeholder="Nhập tên sảnh" value="" required>
          <div id="msg_tenSanh"></div>
        </div>


        <div class="col-12">
          <label for="loaiSanh" class="form-label">Loại sảnh</label>
          <select class="form-select form-control" id="loaiSanh" required>
            
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="soLuongBanToiDa" class="form-label">Số bàn tối đa</label>
          <input type="text" class="form-control" id="soLuongBanToiDa" placeholder="Nhập số lượng bàn tối đa" required>
          <div id="msg_soLuongBanToiDa"></div>
        </div>

        <div class="col-md-3">
          <label for="donGiaToiThieu" class="form-label">Đơn giá tối thiểu</label>
          <input type="text" class="form-control" id="donGiaToiThieu" style="background-color: white;" placeholder="" required="" readonly>
        </div>
      </div>

      <hr class="my-4">

      <h4 class="mb-3">Ghi chú</h4>
      <textarea class="form-control" id="ghiChu" style="height: 100px;"></textarea>

      <hr class="my-4">

      <button class="btn btn-primary btn-lg" type="submit" >Đăng ký</button>
    </form>

    <script>
      data = {}
      dsLoaiSanhData = {}

      $.get("http://localhost:8080/api/ds-loai-sanh", function(data){
        $("#loaiSanh").empty()
        $("#loaiSanh").append($("<option>", {
          "class" : "selected disabled", 
          text : "Chọn loại sảnh",
          value : ""
        }));
        $.each(data, function(index, d){           
            $("#loaiSanh").append($('<option>', { 
                value: d.maLoaiSanh,
                text : d.tenLoaiSanh
            }))
            dsLoaiSanhData[d.maLoaiSanh] = d
        })
        firstKey = Object.keys(dsLoaiSanhData)[0];
        $("#donGiaToiThieu").val (0)
       // alert(JSON.stringify(dsLoaiSanhData))
        $("#loaiSanh").change(function(){
          //alert(dsLoaiSanhData[$(this).val()].soLuongBanToiDa)
          if ($(this).val() == ""){
            $("#donGiaToiThieu").val(0);
            
          }else{
            $("#donGiaToiThieu").val (dsLoaiSanhData[$(this).val()].donGiaBanToiThieu)
        
          }
          })

      })
      $("#soLuongBanToiDa").focus(function(){
        $("#msg_soLuongBanToiDa").empty();
        $("#msg_soLuongBanToiDa").removeClass();
      })

      $("#tenSanh").focus(function(){
        $("#msg_tenSanh").empty();
        $("#msg_tenSanh").removeClass();
      })
      
      $("#formTiepNhanSanh").submit(function(e){
        e.preventDefault()
        alert("submit")
        data["tenSanh"] = $("#tenSanh").val()
        data["loaiSanh"] = $("#loaiSanh").val()
        data["soLuongBanToiDa"] = $("#soLuongBanToiDa").val()
        data["ghiChu"] = $("#ghiChu").val()
        alert(JSON.stringify(data))
        $.ajax({
          type: "POST",
          contentType: "application/json",
          url: "http://localhost:8080/api/dat-sanh",
          data: JSON.stringify(data),
          dataType: "json",
          success: function(e){
            alert("Create success")
            location.reload();
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
            //alert(JSON.stringify(XMLHttpRequest["responseJSON"]["errorMessageList"]));
            $.each(Object.keys(XMLHttpRequest["responseJSON"]["errorMessageList"][0]), function(index, d){
              //alert(d);
              $("#msg_" + d).html(XMLHttpRequest["responseJSON"]["errorMessageList"][0][d])
              $("#msg_" + d).addClass("alert alert-danger")
            })
          }
        })
      })
    </script>
</body>
</html>