<!DOCTYPE HTML>
<html>
<head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body>
    <th:block th:insert="~{index :: menu-bar}"></th:block>

    <div class="container">
      <!-- Trigger the modal with a button -->  
      <!-- Modal -->
      <div class="modal fade" id="modelMonAn" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="">Danh sách món ăn</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên Món ăn</th>
                    <th scope="col">Đơn giá</th>
                    
                  </tr>
                </thead>
                <tbody id="dsMonAn">
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
              <!-- PHÂN QUYỀN -->
              <th:block th:switch="${role}">
                <th:block th:case="''" >
                  
                </th:block>
                <th:block th:case="'admin'">
                  
                </th:block>
                <th:block th:case="'bql'">
                  <button type="button" id="capNhat" class="btn btn-default"  data-dismiss="modal">Cập nhât</button>
                </th:block>
                <th:block th:case="'nhanvien'">
                  
                </th:block>
              </th:block> 
          </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Trigger the modal with a button -->  
      <!-- Modal -->
      <div class="modal fade" id="modelDichVu" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="">Danh sách dịch vụ</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên dịch vụ</th>
                    <th scope="col">Đơn giá</th>
                  </tr>
                </thead>
                <tbody id="dsDichVu">
          
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
              <!-- PHÂN QUYỀN -->
              <th:block th:switch="${role}">
                <th:block th:case="''" >
                  
                </th:block>
                <th:block th:case="'admin'">
                  
                </th:block>
                <th:block th:case="'bql'">
                  <button type="button" id="capNhat" class="btn btn-default"  data-dismiss="modal">Cập nhât</button>
                </th:block>
                <th:block th:case="'nhanvien'">
                  
                </th:block>
              </th:block> 
          </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <table class="table table-bordered" style="width: 70%;margin-left: auto;margin-right: auto;">
        <caption style="caption-side: top; text-align: center;"><h1>Danh sách tiệc cưới</h1></caption>
        <caption style="caption-side: top;margin-left: 70%;">
          <div class="input-group">
            <input type="text" class="form-control" id="maTiecCuoi" placeholder="Nhập mã tiệc cưới" aria-describedby="timTiecCuoi">
            <span class="btn btn-primary" id="timTiecCuoi"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
        </caption>  
        <thead class="thead-dark">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã tiệc cưới</th>
            <th scope="col">Tên chú rể</th>
            <th scope="col">Tên cô dâu</th>
            <th scope="col">Sảnh</th>
            <th scope="col">Ngày</th>
            <th scope="col">Giờ</th>
            <th scope="col">Số lượng bàn</th>
            <th:block th:switch="${role}">
              <th:block th:case="''" >
                <th scope="col">Action</th>
              </th:block>
              <th:block th:case="'admin'">
                
              </th:block>
              <th:block th:case="'bql'">
              </th:block>
              <th:block th:case="'nhanvien'">
                <th scope="col">Action</th>
              </th:block>
            </th:block> 
            
          </tr>
        </thead>
        <tbody id="dsTiecCuoi">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>

            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">Ottoadfasdfđsàasfasfsdfasfasfasdfasdfasdfasfadasfasdfsdf</td>
          </tr>
          
        </tbody>
        <caption>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </caption>
      </table>
      <script>
        function createTable(data){
          $("#dsTiecCuoi").empty()
          $.each(data, function(index, d){
            $("#dsTiecCuoi").append($("<tr>",{
              "id": "row-" + d.maTiecCuoi
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: index
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.maTiecCuoi
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.tenChuRe
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.tenCoDau
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.sanh
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.ngayDaiTiec
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.gio
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.soLuongBan
            }))
            switch($("#roleUser").html()) {
              case '':
                $("#row-" + d.maTiecCuoi).append($("<td>",{
                  id: "action-" + d.maTiecCuoi,
                }))
                $("#action-" + d.maTiecCuoi).append($("<a>", {
                    "class": "fa fa-shopping-basket btn btn-primary mr-3",
                    "title": "Xem danh sách món ăn",
                    "data-toggle": "modal",
                    "data-target": "#modelMonAn",
                    click: function(){
                      $.get( "http://localhost:8080/api/tiec-cuoi/ds-mon-an?maTiecCuoi=" + d.maTiecCuoi, function( data ) {
                        //alert(JSON.stringify(data));
                        $("#dsMonAn").empty()
                        $.each(data, function(index, d){
                            //alert(JSON.stringify(d))
                            $("#dsMonAn").append($('<tr>', { 
                                id: "row-" + d.maMonAn                    
                            }))
                            $("#row-" + d.maMonAn).append($('<td>',{
                                text: index
                            }))
                            $("#row-" + d.maMonAn).append($('<td>',{
                                text: d.tenMonAn
                            }))
                            $("#row-" + d.maMonAn).append($('<td>',{
                                text: d.donGia
                            }))
                             
                        })
                    });
                      
                    }
                }))
                $("#action-" + d.maTiecCuoi).append($("<a>", {
                    "title": "Xem danh sách dịch vụ",
                    "class": "fa fa-calculator btn btn-primary",
                    "data-toggle": "modal",
                    "data-target": "#modelDichVu",
                    click: function(){
                      $.get( "http://localhost:8080/api/tiec-cuoi/ds-dich-vu?maTiecCuoi=" + d.maTiecCuoi, function( data ) {
                      //alert(JSON.stringify(data));
                        $("#dsDichVu").empty()
                        $.each(data, function(index, d){
                            //alert(JSON.stringify(d))
                            $("#dsDichVu").append($('<tr>', { 
                                id: "row-" + d.maDichVu                   
                            }))
                            $("#row-" + d.maDichVu).append($('<td>',{
                                text: index
                            }))
                            $("#row-" + d.maDichVu).append($('<td>',{
                                text: d.tenDichVu
                            }))
                            $("#row-" + d.maDichVu).append($('<td>',{
                                text: d.donGia
                            }))
                           
                        })
                      
                      });
                    }
                }))
                
                break;
              case 'admin':
                break;
              case 'bql':
                break;
              case 'nhanvien':
                $("#row-" + d.maTiecCuoi).append($("<td>",{
                  html: $("<a>", {
                    text: "Lập hóa đơn",
                    "href": "http://localhost:8080/lap-hoa-don-thanh-toan?maTiecCuoi=" + d.maTiecCuoi,
                    "class": "btn btn-info"
                  })
                }))
                break;
              default:
                // code block
            }
            
          })
        }
        $.get("http://localhost:8080/api/ds-tiec-cuoi", function(data){
          
          createTable(data)
        })
      
        $("#maTiecCuoi").on('keypress',function(e) {
            if(e.which == 13) {
              $("#timTiecCuoi").click()
            }
        });
        $("#timTiecCuoi").click(function(){
          alert($("#maTiecCuoi").val())
          if ($("#maTiecCuoi").val() != ""){
            $.ajax({
              url: "http://localhost:8080/api/tiec-cuoi?maTiecCuoi=" + $("#maTiecCuoi").val()
            })
            .done(function(data){
              createTable(data)
            })
            .fail(function() {
              alert( "Không tìm thấy tiệc cưới với mã cho trước" );
            })
            // $.get("http://localhost:8080/api/tiec-cuoi?maTiecCuoi=" + $("#maTiecCuoi").val(), function(data){
          
            //   createTable(data)
            // })
          } else{
            
            $.get("http://localhost:8080/api/ds-tiec-cuoi", function(data){
          
              createTable(data)
            })
          }
          
        })
      </script>
</body>
</html>