<!DOCTYPE HTML>
<html>
<head> 
    <title>Home Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <th:block th:insert="~{index :: libs}"></th:block>
</head>
<body>
    <th:block th:insert="~{index :: menu-bar}"></th:block>
    <table class="table table-bordered" style="width: 70%;margin-left: auto;margin-right: auto;">
        <caption style="caption-side: top; text-align: center;"><h1>Danh sách tiệc cưới</h1></caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên chú rể</th>
            <th scope="col">Tên cô dâu</th>
            <th scope="col">Sảnh</th>
            <th scope="col">Ngày</th>
            <th scope="col">Giờ</th>
            <th scope="col">Số lượng bàn</th>
            <th:block th:switch="${role}">
              <th:block th:case="''" >
                
              </th:block>
              <th:block th:case="'admin'">
                
              </th:block>
              <th:block th:case="'bql'">
              </th:block>
              <th:block th:case="'nhanvien'">
                <th scope="col">Action</th>
              </th:block>
            </th:block> 
            
          </tr>
        </thead>
        <tbody id="dsTiecCuoi">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>

            <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">Ottoadfasdfđsàasfasfsdfasfasfasdfasdfasdfasfadasfasdfsdf</td>
          </tr>
          
        </tbody>
      </table>
      <script>
        $.get("http://localhost:8080/api/ds-tiec-cuoi", function(data){
          $("#dsTiecCuoi").empty()
          $.each(data, function(index, d){
            $("#dsTiecCuoi").append($("<tr>",{
              "id": "row-" + d.maTiecCuoi
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: index
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.tenChuRe
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.tenCoDau
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.sanh
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.ngayDaiTiec
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.gio
            }))
            $("#row-" + d.maTiecCuoi).append($("<td>",{
              text: d.soLuongBan
            }))
            switch($("#roleUser").html()) {
              case '':
                //alert($("#mTitle").html())
                break;
              case 'admin':
                break;
              case 'bql':
                break;
              case 'nhanvien':
                $("#row-" + d.maTiecCuoi).append($("<td>",{
                  html: $("<a>", {
                    text: "Lập hóa đơn",
                    "href": "http://localhost:8080/lap-hoa-don-thanh-toan?maTiecCuoi=" + d.maTiecCuoi,
                    "class": "btn btn-info"
                  })
                }))
                break;
              default:
                // code block
            }
            
          })
          
        })
      </script>
</body>
</html>